<%= error_messages_for(@page) %>

<table class="table table-hover" summary="Page form fields">
  <tr>
    <th><%= f.label(:subject_id, "Subject") %></th>
    <td><%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, "Name") %></th>
    <td><%= f.text_field(:name, :class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:permalink) %></th>
    <td><%= f.text_field(:permalink, :class => "form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:image) %></th>
    <td><%= f.file_field(:image) %></td>
  </tr>
  
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@page_count) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible) %></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
</table>
