<% @page_title = @page.name %>
<% if @page.image.url != "/images/original/missing.png" %>
<div class="page_image">
  <%= image_tag @page.image.url, :width => '103%', 'max-height' => '20px' %>
</div> 
<% end %>
<h2><%= @page.name %></h2></br>

<% @page.sections.visible.sorted.each do |section| %>
  <div class="section ">
  	<h4 id=<%= "section#{section.id}" %>><%= section.name %></h4>
    <% case section.content_type %>
    <% when 'HTML' %>
      <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a','p','br'])) %>
    <% when 'text' %>
      <p><%= section.content %></p>
    <% end %>
  </div>
  <hr></hr>
<% end %>
