<!DOCTYPE html>
<html>
  <head>
    <title>ADC<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-target="#side-navigation">
    
    <div id="header">
      <%= render 'layouts/header_user' %>
    </div>
    
    <div id="main" class="container">
      <div class="row">

        <div id="content" class="col-md-9">
          <% if !flash[:notice].blank? %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= flash[:notice] %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer" class="navbar-inverse navbar-fixed-bottom">
      <%= render 'layouts/footer' %>
    </div>

  </body>

  <script type="text/javascript">
    $('#side_nav').affix({
    offset: {
      top: 60,
     bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  })
    
  </script>
</html>
